<!DOCTYPE html>
<html class="no-js" lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>网页设计与制作</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.ico"
    />
    <link rel="stylesheet" href="assets/css/index.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="assets/css/material-design-iconic-font.min.css"
    />
    <link rel="stylesheet" href="assets/css/plugins.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="main-wrapper" id="app">
      <header class="header-area">
        <div class="header-bottom-area header-sticky header-sticky">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-5 col-6">
                <!-- logo-area -->
                <div class="logo-area">
                  <a href="index.html"
                    ><img
                      src="./assets/images/logo.png"
                      style="
                        width: 140px;
                        padding: 5px;
                        background: darkred;
                        border-radius: 10px;
                      "
                      alt=""
                  /></a>
                </div>
                <!--// logo-area -->
              </div>

              <div class="col-lg-9 col-md-7 col-6">
                <div class="header-bottom-right">
                  <!-- main-menu -->
                  <div class="main-menu">
                    <nav class="main-navigation">
                      <ul>
                        <li class="active">
                          <a href="index.html"> 主页</a>
                        </li>
                        <li>
                          <a target="_blank" href="./wjzp.html">往届作品</a>
                        </li>
                        <li>
                          <a target="_blank" href="./kclx.html">课程录像</a>
                        </li>
                        <li>
                          <a href="./xxzy.html">学习资源</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <div class="mini-wrap-sidebar">
                    <div class="search-wrap">
                      <button class="header-search-toggle">
                        <i class="zmdi zmdi-search"></i>
                      </button>
                      <div class="header-search-form">
                        <form action="#">
                          <input type="text" placeholder="请输入搜索内容" />
                          <button><i class="zmdi zmdi-search"></i></button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <!-- mobile-menu start -->
                <div class="mobile-menu d-block d-lg-none"></div>
                <!-- mobile-menu end -->
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Hero Slider start -->
      <div class="hero-slider">
        <div class="hero-slider-active owl-carousel">
          <div class="singleSlide" data-black-overlay="3">
            <div class="itemBg">
              <img src="assets/images/11.jpg" alt="" />
            </div>
            <!-- Hero Content One Start -->
            <div class="container">
              <div class="hero-content-one">
                <div class="row">
                  <div class="col">
                    <div class="slider-text-info">
                      <h1>
                        <span>网页设计与制作</span> <br />
                        精品课程资源共享网站
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Hero Content One End -->
          </div>
        </div>
      </div>
      <!-- Hero Slider end -->
      <!-- Our Course Categories Area -->
      <div class="our-course-categories-area section-ptb">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <!-- section-title -->
              <div class="section-title-three">
                <h4>网页设计与制作</h4>
                <h3>课程简介</h3>
                <video
                  style="width: 100%"
                  controls
                  autoplay
                  muted
                  src="http://1255538920.vod2.myqcloud.com/3933142avodcq1255538920/1315adae387702299501900605/whBOP0YJfUcA.mp4"
                ></video>
                <p>
                  《网页设计与制作》课程涉及到的内容有HTML标记语言、网页编辑、图像制作、动画制作等多方面的知识，具有很强的先进性；它是计算机网络、计算机应用、电子商务等专业的一门核心课程，还可作为其他专业的选修技能课程。在计算机网络专业课程体系中，《网页设计与制作》课程是一门核心专业基础课程，它是计算机导论、c语言程序设计、sql基础及应用等课程的先修课，其后续课程包括动态网页设计、java程序语言、jsp程序设计等。随着计算机网络的迅速发展，Internet已经成为我们生活中不可或缺的组成部分。企业利用网站来展示企业形象、推广产品并进行电子商务活动；个人建立一个具有独特风格的网站来展示自我；政府机构通过网站实现电子政务。因此搭建网站、设计精美的网页来吸引浏览者的目光，不再是一个孤立的问题，它成为了大家共同关注的目标。
                  学校和社会上涌现了大量的网页设计爱好者，他们希望能尽快地学习到“网页设计与制作”的知识，并应用于实践中。
                </p>
              </div>
              <!--// section-title -->
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="course-categories-wrap">
                <div class="coustom-col-2">
                  <!-- single-course-categories -->
                  <div class="single-course-categories malachite">
                    <div class="item-inner">
                      <div class="cours-icon">
                        <img src="assets/images/icon/icon-01.png" alt="" />
                      </div>
                      <div class="cours-title">
                        <h5>Photoshop</h5>
                      </div>
                    </div>
                  </div>
                  <!--// single-course-categories -->
                </div>

                <div class="coustom-col-2">
                  <!-- single-course-categories -->
                  <div class="single-course-categories sunglow">
                    <div class="item-inner">
                      <div class="cours-icon">
                        <img src="assets/images/icon/icon-02.png" alt="" />
                      </div>
                      <div class="cours-title">
                        <h5>Flash</h5>
                      </div>
                    </div>
                  </div>
                  <!--// single-course-categories -->
                </div>

                <div class="coustom-col-2">
                  <!-- single-course-categories -->
                  <div class="single-course-categories mariner">
                    <div class="item-inner">
                      <div class="cours-icon">
                        <img src="assets/images/icon/icon-03.png" alt="" />
                      </div>
                      <div class="cours-title">
                        <h5>Photography</h5>
                      </div>
                    </div>
                  </div>
                  <!--// single-course-categories -->
                </div>

                <div class="coustom-col-2">
                  <!-- single-course-categories -->
                  <div class="single-course-categories brilliantrose">
                    <div class="item-inner">
                      <div class="cours-icon">
                        <img src="assets/images/icon/icon-04.png" alt="" />
                      </div>
                      <div class="cours-title">
                        <h5>HTML & CSS</h5>
                      </div>
                    </div>
                  </div>
                  <!--// single-course-categories -->
                </div>

                <div class="coustom-col-2">
                  <!-- single-course-categories -->
                  <div class="single-course-categories shakespeare">
                    <div class="item-inner">
                      <div class="cours-icon">
                        <img src="assets/images/icon/icon-05.png" alt="" />
                      </div>
                      <div class="cours-title">
                        <h5>Development</h5>
                      </div>
                    </div>
                  </div>
                  <!--// single-course-categories -->
                </div>

                <div class="coustom-col-2">
                  <!-- single-course-categories -->
                  <div class="single-course-categories deyork">
                    <div class="item-inner">
                      <div class="cours-icon">
                        <img src="assets/images/icon/icon-06.png" alt="" />
                      </div>
                      <div class="cours-title">
                        <h5>Flim & Media</h5>
                      </div>
                    </div>
                  </div>
                  <!--// single-course-categories -->
                </div>

                <!--                        <div class="all-course-btn">-->
                <!--                            <a href="course-grid.html" class="all-course">all course</a>-->
                <!--                        </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="most-popular-courses-area section-ptb">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 order-lg-2 oreder-2 offset-lg-1">
              <div class="row">
                <div class="col-lg-12 blog-details-area">
                  <div class="our-blog-contnet">
                    <h5>
                      <a href="blog-details.html">{{contents[active]}}</a>
                    </h5>
                    <div class="post_meta">
                      <ul>
                        <li>
                          <p>By: <a href="#">网页设计与制作</a></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <iframe :src="'./assets/'+(active+1)+'.pdf'" width="100%" height="1000px">
                    This browser does not support PDFs. Please download the PDF
                    to view it: <a :href="'./assets/'+(active+1)+'.pdf'">Download PDF</a>
                  </iframe>
                </div>

                <!-- blog-details-wrapper -->

                <!--// blog-details-wrapper -->
              </div>
            </div>
            <div class="col-lg-4 order-lg-1 oreder-2">
              <div class="row widgets">
                <div class="col-lg-12">
                  <div class="single-widget widget-search">
                    <form action="#" class="widget-search-form">
                      <input type="text" placeholder="Search..." />
                      <button type="submit">
                        <i class="zmdi zmdi-search"></i>
                      </button>
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="single-widget widget-categories">
                    <h4 class="widget-title">
                      <span>课程信息</span>
                    </h4>
                    <ul>
                      <li :class="{'active':index==active}" v-for="(item,index) in contents" :key="index">
                        <a @click="actived(index)"
                          ><span class="categories-name">{{item}}</span></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <el-dialog
        width="80%"
        :visible.sync="visible"
        :title="video.url"
        @close="close"
      >
        <video
          controls
          style="width: 100%; height: 100%"
          v-if="video.url"
          :src="'./assets/video/'+video.url+'.mp4'"
        ></video>
      </el-dialog>
      <footer class="footer-area">
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="copy-right pt--10 pb--10 text-center text-white">
                  <p>
                    Copyright ©贵州商学院计算机与信息工程学院 版权所有
                    地址：贵阳市白云区麦架镇1号
                    <span>精品课程资源共享网站</span>
                  </p>
                  <p>
                    联系电话:0851-8128097 8128057　邮编：550004 技术支持:netsea
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/ajax-mail.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/index.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          video: {
            text: '',
            url: '',
          },
          active: 0,
          visible: false,
          production: [
            {
              text: '贵州黄果树扶梯有限公司',
              url: 'http://www.gycc.net/jkx/hgs/index.html',
            },
            { text: '贵州文史馆', url: 'http://www.gzwsg.cn/' },
            { text: '计算机应用基础精品课程', url: '' },
            { text: '贵州国合对外劳务有限公司', url: '' },
            { text: '贵州商专网上实习商城', url: '' },
            { text: '贵州贞丰之风', url: '' },
            { text: '贵州德一茶苑网站', url: '' },
            { text: '贵州商专计科系简历系统', url: '' },
            { text: '贵州商专社科部网站', url: '' },
            { text: '宏基笔记本电脑贵州公司', url: '' },
            { text: '贵州商专思政网模板', url: '' },
            { text: '贵州商专学生工作网模板', url: '' },
            { text: '贵州商专 网络08-1班网站', url: '' },
            { text: '贵州肇兴旅游', url: '' },
            { text: '织金大自然特产贸易有限公司', url: '' },
            { text: '贵阳闽阳电脑销售店', url: '' },
            { text: '贵州伊通网', url: '' },
          ],
          contents: [
            '课程设计',
            '课程内容',
            '课程条件',
            '课程实施',
            '课程效果',
            '课程特色',
            '课程大纲',
          ],
          videos: [
            { text: '', url: 'DOM HTML' },
            { text: '', url: 'JavaScript对象' },
            { text: '', url: '引入JavaScript' },
            { text: '', url: 'DOM事件' },
            { text: '', url: 'CSS样式修改' },
            { text: '', url: 'switch语句' },
            { text: '', url: '函数声明及调用' },
            { text: '', url: 'js的输出' },
            { text: '', url: 'html图像元素' },
            { text: '', url: '表格布局页面案例' },
            { text: '', url: '表单与表格案例' },
            { text: '', url: '编辑器的使用' },
            { text: '', url: 'html文字相关元素' },
            { text: '', url: '修补工具' },
            { text: '', url: '渐变工具' },
            { text: '', url: '切片工具' },
            { text: '', url: '用户界面和工具箱' },
            { text: '', url: 'Photoshop概述' },
          ],
        },
        methods: {
          actived(index) {
            this.active = index
          },
          open(item) {
            this.video = item
            this.visible = true
          },
          close() {
            this.video = {}
          },
        },
      })
    </script>
  </body>
</html>
