<!DOCTYPE html>
<html class="no-js" lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>网页设计与制作-课程录像</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.ico"
    />
    <link rel="stylesheet" href="assets/css/index.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="assets/css/material-design-iconic-font.min.css"
    />
    <link rel="stylesheet" href="assets/css/plugins.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="main-wrapper" id="app">
      <header class="header-area">
        <div class="header-bottom-area header-sticky header-sticky">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-5 col-6">
                <!-- logo-area -->
                <div class="logo-area">
                  <a href="index.html"
                    ><img
                      src="http://www.gzcc.edu.cn/upload/images/2018/1/%E7%BD%91%E7%AB%99LOL.png"
                      style="
                        width: 140px;
                        padding: 5px;
                        background: darkred;
                        border-radius: 10px;
                      "
                      alt=""
                  /></a>
                </div>
                <!--// logo-area -->
              </div>
              <div class="col-lg-9 col-md-7 col-6">
                <div class="header-bottom-right">
                  <!-- main-menu -->
                  <div class="main-menu">
                    <nav class="main-navigation">
                      <ul>
                        <li>
                          <a href="index.html"> 主页</a>
                        </li>
                        <li><a href="wjzp.html">往届作品</a></li>
                        <li class="active">
                          <a href="kclx.html">课程录像</a>
                        </li>
                        <li>
                          <a href="xxzy.html">学习资源</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <div class="mini-wrap-sidebar">
                    <div class="search-wrap">
                      <button class="header-search-toggle">
                        <i class="zmdi zmdi-search"></i>
                      </button>
                      <div class="header-search-form">
                        <form action="#">
                          <input type="text" placeholder="请输入搜索内容" />
                          <button><i class="zmdi zmdi-search"></i></button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <!-- mobile-menu start -->
                <div class="mobile-menu d-block d-lg-none"></div>
                <!-- mobile-menu end -->
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Hero Slider start -->
      <div class="hero-slider">
        <div class="hero-slider-active owl-carousel">
          <div class="singleSlide" data-black-overlay="3">
            <div class="itemBg">
              <img src="assets/images/11.jpg" alt="" />
            </div>
            <!-- Hero Content One Start -->
            <div class="container">
              <div class="hero-content-one">
                <div class="row">
                  <div class="col">
                    <div class="slider-text-info">
                      <h1>
                        <span>网页设计与制作 </span> <br />
                        精品课程资源共享网站
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Hero Content One End -->
          </div>
        </div>
      </div>
      <!-- Hero Slider end -->
      <!-- Our Course Categories Area -->

      <!--// Most Popular Courses Area -->
      <!-- Free Introductory Seminar -->
      <!--// Free Introductory Seminar -->

      <!-- Our Blog Area -->
      <div class="our-blog-area section-ptb" id="xxzy">
        <div class="container">
          <div class="col-lg-8 ml-auto mr-auto">
            <!-- section-title -->
            <div class="section-title-two">
              <h4 id="kclx">学习资源-课程录像</h4>
              <h3>在线观看</h3>
            </div>
            <!--// section-title -->
          </div>
          <div class="row">
            <div
              class="col-lg-4 col-md-6 col-12"
              v-for="(item,index) in videos"
            >
              <!-- single-courses -->
              <div class="single-our-blog mt--30">
                <div class="our-blog-image">
                  <a @click="open(item)"
                    ><img :src="item.p" alt=""
                  /></a>
                  <span class="in-our-blog-icon">
                    <img src="assets/images/icon/our-blog-01.png" alt="" />
                  </span>
                </div>
                <div class="our-blog-contnet">
                  <h5><a @click="open(item)">{{item.url}}</a></h5>
                  <div class="post_meta">
                    <ul>
                      <li>
                        <p>录制: <a href="#">网页设计</a></p>
                      </li>
                      <li><p>观看量：{{(Math.random(10)*100).toFixed(0)}}</p></li>
                    </ul>
                  </div>
                   <!--<p>简介撒大三大四的。。。。。</p>-->
                  <div class="button-block">
                    <a @click="open(item)" class="botton-border">播放</a>
                  </div>
                </div>
              </div>
              <!--// single-courses -->
            </div>
          </div>
        </div>
      </div>
      <!-- Our Blog End -->

      <!-- Project Count Area Start -->

      <!-- Project Count Area End -->

      <!-- Testimonials Area -->

      <!--// Testimonials Area -->
      <el-dialog
        width="80%"
        :visible.sync="visible"
        :title="video.url"
        @close="close"
      >
        <video
          controls
          style="width: 100%; height: 100%"
          v-if="video.url"
          :src="video.text"
        ></video>
      </el-dialog>
      <!-- Footer Area -->
      <footer class="footer-area">
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="copy-right pt--10 pb--10 text-center text-white">
                  <p>
                    Copyright ©贵州商学院计算机与信息工程学院 版权所有
                    地址：贵阳市白云区麦架镇1号
                    <span>精品课程资源共享网站</span>
                  </p>
                  <p>
                    联系电话:0851-8128097 8128057　邮编：550004 技术支持:netsea
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!--// Footer Area -->
    </div>
    <!-- Main Wrapper End -->
    <!-- JS
============================================ -->
    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
    <!-- Popper JS -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="assets/js/plugins.js"></script>
    <!-- Ajax Mail -->
    <script src="assets/js/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/index.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          video: {
            text: '',
            url: '',
            p: '',
          },
          visible: false,
          production: [
            {
              text: '贵州黄果树扶梯有限公司',
              url: 'http://www.gycc.net/jkx/hgs/index.html',
            },
            { text: '贵州文史馆', url: 'http://www.gzwsg.cn/' },
            { text: '计算机应用基础精品课程', url: '' },
            { text: '贵州国合对外劳务有限公司', url: '' },
            { text: '贵州商专网上实习商城', url: '' },
            { text: '贵州贞丰之风', url: '' },
            { text: '贵州德一茶苑网站', url: '' },
            { text: '贵州商专计科系简历系统', url: '' },
            { text: '贵州商专社科部网站', url: '' },
            { text: '宏基笔记本电脑贵州公司', url: '' },
            { text: '贵州商专思政网模板', url: '' },
            { text: '贵州商专学生工作网模板', url: '' },
            { text: '贵州商专 网络08-1班网站', url: '' },
            { text: '贵州肇兴旅游', url: '' },
            { text: '织金大自然特产贸易有限公司', url: '' },
            { text: '贵阳闽阳电脑销售店', url: '' },
            { text: '贵州伊通网', url: '' },
          ],
          contents: [
            '课程设置-性质作用',
            '课程设置-理念思路',
            '教学内容-针对性实用性',
            '教学内容-内容组织安排',
            '教学内容-具体表现形式',
            '方法手段-教学设计创新',
            '方法手段-多种方法运用',
            '方法手段-现代技术手段',
            '方法手段-网络资源环境',
            '实践条件-实训设备环境',
            '实践条件-实习基地建设利用',
            '教学效果-社会评价',
            '教学效果-社会评价',
            '教学效果-社会认可度',
            '特色创新-课程特色创新',
            '特色创新-同类课程比较',
            '特色创新-改进方向途径',
            '特色创新-改进方向途径',
            '特色创新-改进方向途径',
            '特色创新-改进方向途径',
            '特色创新-改进方向途径',
          ],
          videos: [
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/93f2aca35285890809286976909/v.f100020.mp4',
              url: 'DOM HTML',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/93f2aca35285890809286976909/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/93f313a05285890809286977077/v.f100020.mp4',
              url: 'JavaScript对象',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/93f313a05285890809286977077/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/93f31b775285890809286977221/v.f100020.mp4',
              url: '引入JavaScript',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/93f31b775285890809286977221/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/93f31c665285890809286977299/v.f100020.mp4',
              url: 'DOM事件',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/93f31c665285890809286977299/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/93f323bf5285890809286977409/v.f100020.mp4',
              url: 'CSS样式修改',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/93f323bf5285890809286977409/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/93f328de5285890809286977570/v.f100020.mp4',
              url: 'switch语句',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/93f328de5285890809286977570/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633bcdb15285890809272243666/v.f100020.mp4',
              url: '函数声明及调用',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633bcdb15285890809272243666/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633c4c875285890809272244304/v.f100020.mp4',
              url: 'js的输出',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633c4c875285890809272244304/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/93f2a4de5285890809286976760/v.f100020.mp4',
              url: 'html图像元素',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/93f2a4de5285890809286976760/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633ac18d5285890809272241952/v.f100020.mp4',
              url: '表格布局页面案例',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633ac18d5285890809272241952/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633ac18d5285890809272241952/v.f100020.mp4',
              url: '表单与表格案例',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633ac18d5285890809272241952/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633b27045285890809272242006/v.f100020.mp4',
              url: '编辑器的使用',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633b27045285890809272242006/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633b27425285890809272242022/v.f100020.mp4',
              url: 'html文字相关元素',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633b27425285890809272242022/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633b280d5285890809272242087/v.f100020.mp4',
              url: '修补工具',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633b280d5285890809272242087/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633b2b475285890809272242108/v.f100020.mp4',
              url: '渐变工具',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633b2b475285890809272242108/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633b2b685285890809272242118/v.f100020.mp4',
              url: '切片工具',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633b2b685285890809272242118/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633b2b8a5285890809272242129/v.f100020.mp4',
              url: '用户界面和工具箱',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633b2b8a5285890809272242129/coverBySnapshot_10_0.jpg',
            },
            {
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633b2bc65285890809272242143/v.f100020.mp4',
              url: 'Photoshop概述',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/633b2bc65285890809272242143/coverBySnapshot_10_0.jpg',
            },{
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/e24118765285890809324828826/v.f100020.mp4',
              url: 'yesea.cn域名设计',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/e24118765285890809324828826/coverBySnapshot_10_0.jpg',
            },{
              text:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/e24118525285890809324828813/v.f100020.mp4',
              url: '域名设计',
              p:
                'http://1255538920.vod2.myqcloud.com/101d01d2vodtranscq1255538920/e24118525285890809324828813/coverBySnapshot_10_0.jpg',
            },
          ],
        },
        methods: {
          open(item) {
            this.video = item
            this.visible = true
          },
          close() {
            this.video = {}
          },
        },
      })
    </script>
  </body>
</html>
