<!DOCTYPE html>
<html class="no-js" lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>网页设计与制作-往届作品</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.ico"
    />
    <link rel="stylesheet" href="assets/css/index.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="assets/css/material-design-iconic-font.min.css"
    />
    <link rel="stylesheet" href="assets/css/plugins.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="main-wrapper" id="app">
      <header class="header-area">
        <div class="header-bottom-area header-sticky header-sticky">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-5 col-6">
                <!-- logo-area -->
                <div class="logo-area">
                  <a href="index.html"
                    ><img
                      src="http://www.gzcc.edu.cn/upload/images/2018/1/%E7%BD%91%E7%AB%99LOL.png"
                      style="
                        width: 140px;
                        padding: 5px;
                        background: darkred;
                        border-radius: 10px;
                      "
                      alt=""
                  /></a>
                </div>
                <!--// logo-area -->
              </div>

              <div class="col-lg-9 col-md-7 col-6">
                <div class="header-bottom-right">
                  <!-- main-menu -->
                  <div class="main-menu">
                    <nav class="main-navigation">
                      <ul>
                        <li class="active">
                          <a href="index.html"> 主页</a>
                        </li>
                        <li><a href="#wjzp">往届作品</a></li>
                        <li>
                          <a href="#kclx">课程录像</a>
                        </li>
                        <li>
                          <a href="#xxzy">学习资源</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <div class="mini-wrap-sidebar">
                    <div class="search-wrap">
                      <button class="header-search-toggle">
                        <i class="zmdi zmdi-search"></i>
                      </button>
                      <div class="header-search-form">
                        <form action="#">
                          <input type="text" placeholder="请输入搜索内容" />
                          <button><i class="zmdi zmdi-search"></i></button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <!-- mobile-menu start -->
                <div class="mobile-menu d-block d-lg-none"></div>
                <!-- mobile-menu end -->
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="hero-slider">
        <div class="hero-slider-active owl-carousel">
          <div class="singleSlide" data-black-overlay="3">
            <div class="itemBg">
              <img src="assets/images/slider/background-image-1.jpg" alt="" />
            </div>
            <!-- Hero Content One Start -->
            <div class="container">
              <div class="hero-content-one">
                <div class="row">
                  <div class="col">
                    <div class="slider-text-info">
                      <h1>
                        <span>网页设计与制作 </span> <br />
                        精品课程资源共享网站
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Hero Content One End -->
          </div>

          <div class="singleSlide" data-black-overlay="3">
            <div class="itemBg">
              <img src="assets/images/slider/background-image-2.jpg" alt="" />
            </div>
            <!-- Hero Content One Start -->
            <div class="container">
              <div class="hero-content-one">
                <div class="row">
                  <div class="col">
                    <div class="slider-text-info">
                      <h1>
                        <span>Modern Education </span> <br />
                        For Everyone
                      </h1>
                      <a href="about.html" class="btn slider-btn uppercase"
                        ><span>About us</span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Hero Content One End -->
          </div>

          <div class="singleSlide" data-black-overlay="3">
            <div class="itemBg">
              <img src="assets/images/slider/background-image-3.jpg" alt="" />
            </div>
            <!-- Hero Content One Start -->
            <div class="container">
              <div class="hero-content-one">
                <div class="row">
                  <div class="col">
                    <div class="slider-text-info">
                      <h1>
                        <span>Modern Education </span> <br />
                        For Everyone
                      </h1>
                      <a href="about.html" class="btn slider-btn uppercase"
                        ><span>About us</span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Hero Content One End -->
          </div>
        </div>
      </div>
      <div class="most-popular-courses-area section-ptb">
        <div class="container">
          <div class="row" style="margin-top: 20px; padding-top: 40px">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="section-title-two">
                <h4 id="wjzp">往届学生服务企业</h4>
                <h3>精彩集锦</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col-lg-3 col-md-4 col-6"
              v-for="(item,index) in production"
            >
              <div class="single-popular-courses mt--30">
                <div class="popular-courses-contnet">
                  <h5>{{item.text}}</h5>
                  <div class="post_meta">
                    <ul>
                      <li><p>阅读数: 23</p></li>
                    </ul>
                  </div>
                  <div class="button-block">
                    <a :href="item.url" target="_blank" class="botton-border"
                      >查看</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <el-dialog
        width="80%"
        :visible.sync="visible"
        :title="video.url"
        @close="close"
      >
        <video
          controls
          style="width: 100%; height: 100%"
          v-if="video.url"
          :src="'./assets/video/'+video.url+'.mp4'"
        ></video>
      </el-dialog>
      <footer class="footer-area">
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="copy-right pt--10 pb--10 text-center text-white">
                  <p>
                    Copyright ©贵州商业高等专科学校计科系 版权所有
                    地址：贵阳市盐务街35号
                    <span>精品课程资源共享网站</span>
                  </p>
                  <p>
                    联系电话:0851-8128097 8128057　邮编：550004 技术支持:netsea
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
    <!-- Popper JS -->
    <script src="assets/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="assets/js/plugins.js"></script>
    <!-- Ajax Mail -->
    <script src="assets/js/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/index.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          video: {
            text: '',
            url: '',
          },
          visible: false,
          production: [
            {
              text: '贵州黄果树扶梯有限公司',
              url: 'http://www.gycc.net/jkx/hgs/index.html',
            },
            { text: '贵州文史馆', url: 'http://www.gzwsg.cn/' },
            { text: '计算机应用基础精品课程', url: '' },
            { text: '贵州国合对外劳务有限公司', url: '' },
            { text: '贵州商专网上实习商城', url: '' },
            { text: '贵州贞丰之风', url: '' },
            { text: '贵州德一茶苑网站', url: '' },
            { text: '贵州商专计科系简历系统', url: '' },
            { text: '贵州商专社科部网站', url: '' },
            { text: '宏基笔记本电脑贵州公司', url: '' },
            { text: '贵州商专思政网模板', url: '' },
            { text: '贵州商专学生工作网模板', url: '' },
            { text: '贵州商专 网络08-1班网站', url: '' },
            { text: '贵州肇兴旅游', url: '' },
            { text: '织金大自然特产贸易有限公司', url: '' },
            { text: '贵阳闽阳电脑销售店', url: '' },
            { text: '贵州伊通网', url: '' },
          ],
          contents: [
            '课程设置-性质作用',
            '课程设置-理念思路',
            '教学内容-针对性实用性',
            '教学内容-内容组织安排',
            '教学内容-具体表现形式',
            '方法手段-教学设计创新',
            '方法手段-多种方法运用',
            '方法手段-现代技术手段',
            '方法手段-网络资源环境',
            '实践条件-实训设备环境',
            '实践条件-实习基地建设利用',
            '教学效果-社会评价',
            '教学效果-社会评价',
            '教学效果-社会认可度',
            '特色创新-课程特色创新',
            '特色创新-同类课程比较',
            '特色创新-改进方向途径',
            '特色创新-改进方向途径',
            '特色创新-改进方向途径',
            '特色创新-改进方向途径',
            '特色创新-改进方向途径',
          ],
          videos: [
            { text: '', url: 'DOM HTML' },
            { text: '', url: 'JavaScript对象' },
            { text: '', url: '引入JavaScript' },
            { text: '', url: 'DOM事件' },
            { text: '', url: 'CSS样式修改' },
            { text: '', url: 'switch语句' },
            { text: '', url: '函数声明及调用' },
            { text: '', url: 'js的输出' },
            { text: '', url: 'html图像元素' },
            { text: '', url: '表格布局页面案例' },
            { text: '', url: '表单与表格案例' },
            { text: '', url: '编辑器的使用' },
            { text: '', url: 'html文字相关元素' },
            { text: '', url: '修补工具' },
            { text: '', url: '渐变工具' },
            { text: '', url: '切片工具' },
            { text: '', url: '用户界面和工具箱' },
            { text: '', url: 'Photoshop概述' },
          ],
        },
        methods: {
          open(item) {
            this.video = item
            this.visible = true
          },
          close() {
            this.video = {}
          },
        },
      })
    </script>
  </body>
</html>
