<style>
			*{
				margin: 0;
				padding: 0;
			}
			body{
				background-image: url(img/t010db80d94b8392233.jpg);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-attachment: fixed;
			}
			.content{
				width:100%;
				height: 50px;
				line-height: 50px;
			}
			.zi{
				width: 100px;
				
			}
			.content p{
				float:left;
				width:100px;
			}
			.box{
				border:2px solid rgb(22,72,121);
				background: rgba(180,183,179,0.6);			
				position:absolute;
				top:33%;
				left:35%;
				width:30%;
				height:40%;
			}
			.content input[type="text"],
			.content input[type="password"],
			.content input[type="tel"]{
				width:50%;
				font-size:18px;
				margin-left:8%;
			}
			.content input[type="button"]{
				width:30%;
				height:30px;
				font-size:20px;
				background-color:peachpuff;
				margin-top:20px;
				margin-left:35%;
			}
			.wjmm{
				float: left;
				text-decoration: none;
				color: rgb(0,0,0);
			}
			.xyh{
				float: right;
				text-decoration: none;
				color: rgb(0,0,0);
				
			}
			i{
				font-size: 12px;
			}
			.wjmm{
				float: left;
				text-decoration: none;
				color: rgb(0,0,0);
			}
			.xyh{
				float: right;
				text-decoration: none;
				color: rgb(0,0,0);
			}
			
		</style>